/* our framework */
:root{
    --maincolor: #F7600E;
    --subcolor:#333;
}
body{
    font-family: 'Open Sans', sans-serif;
    
}
.table{
    height: 100%;
    display: table;
}
.table-row{
    display: table-row;
}
.overlay{
    background-color: rgba(49,55,61,.7);
    width: 100%;
    height: 100%;
}
.hidden{
    display: none;
}
.clear-fix{
    clear: both;
}
/* our framework */

/* header */
header .bg-light{
    background-color: transparent !important;
}
header{
    background: url(../images/slider.jpg);
    color: #fff;
}

nav a{
    color: #fff !important;
}
nav a span{
    color: var(--maincolor) !important;
}
.intro h1{
    font-size: 65px;
    font-weight: bold;
    color: #fff;
}
.intro h1 span{
    color: var(--maincolor);
}
.intro p{
    width: 70%;
    margin: auto auto 40px;
    font-size: 22px;
    line-height: 1.8;
    color: #fff;
}
header .buttons .btn-outline-secondary{ 
    width: 250px;
    color: #fff;
    border-color: #fff;
    padding: 10px 60px ;
    margin:0 10px;
    border-radius: 10px;
    transition: all .5s ;
}
header .buttons .btn-outline-secondary:hover{
    background-color: var(--maincolor);
    border-color: var(--maincolor);
    
}
.arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
.arrow i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #FEFEFE;
    border-radius: 50%;
    cursor: pointer;
}

/* header */

/*---------------------------------------------------------------------------*/

/* features */
.features {
    padding: 60px 0;
}
.features .box i{
    font-size: 60px;
    color: var(--maincolor);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid #CECECF;
    line-height: 150px;
}
.features .box h3{
    font-size: 20px;
    margin: 20px 0;
    color: #3B434C;
}
.features .box  p{
    color: #7E8184;
    line-height: 1.8;
    font-size: 16px;
}

/* features */

/*---------------------------------------------------------------------------*/
/*subscribe */
.subscribe {
    background: url(../images/subscribe.jpg) ;
    background-size: cover;
}
.subscribe form{
    padding: 100px 0;
    text-align: center;
    margin: auto;
}
.subscribe input{
    padding: 10px 20px ;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 500px;
    margin: auto 10px;
}
.subscribe .btn-outline-secondary{ 
    
    color: #fff;
    border: none;
    padding: 11px 60px ;
    margin: auto 10px;
    border-radius: 10px;
    transition: all .5s ;
    background-color: var(--maincolor);
}


@media  (max-width: 991.98px) { 
    .subscribe input{
        margin-bottom: 30px;
    }

}
/*subscribe */
/*---------------------------------------------------------------------------*/
/*our-work*/
.our-work{
    padding: 100px 0;
}
.our-work h2{
    color: #3B434C;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
}
.our-work h2 span{
    color: var(--maincolor);
}
.our-work h2~ p{
    line-height: 2;
    color: #7E8184;
    margin-bottom: 60px;
}
.our-work .item-box .item{
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
}

.our-work .item-box .item .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247,96,14,.85);
    color: #fff;
    display: none;
    transition: all .5s;
}
.our-work .item-box .item:hover .over{
    display: block;
}
.our-work .item-box .item .over h4{
    margin-top: 30px;
}
.our-work .item-box .item .over p{
    font-size: 14px;
    line-height: 1.8;
}
.our-work .item-box .item .over button{
    transition: all .5s ;
    border-color: #fff;
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 18px;
    transition: all .5s;
}
.our-work .item-box .item .over button:hover{
    background-color: #fff;
    color: var(--maincolor);
    border-color:#fff;
}
.our-work  button:hover{
    background-color: var(--maincolor);
    border-color: var(--maincolor);
}
.our-work  .show-more{
    margin-top: 50px;
    color: #3B434C;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 18px;
    transition: all .5s;
}
.our-work  .show-more:hover{
    background-color: var(--maincolor);
    border-color: var(--maincolor);
}
/*our-work*/
/*---------------------------------------------------------------------------*/
/* testimonials*/
.testimon{
    background: url(../images/tetstimonials.jpg);
    background-size: cover;
    

}
.testimon .client{
    padding: 100px 0;
    color: #fff;
}
.testimon .client img{
    border-radius: 50%;
    height: 129px;
    width: 129px;
}
.testimon .client p{
    font-size: 24px;
    font-style: italic;
    line-height: 1.8;
    margin: 40px 0 30px;
}
.testimon .client span{
    font-size: 20px;
}
.slid{
    position: relative;
}
.testimon .chev{
    position: relative;
}
.testimon .fa-chevron-right,
.testimon .fa-chevron-left{
    position: absolute;
    color: rgb(111,113,118);
    top: 50%;
    cursor: pointer;
    transition: all .5s;
}
.testimon .fa-chevron-right:hover,
.testimon .fa-chevron-left:hover{
    color:var(--maincolor);
}
.testimon .fa-chevron-right{
    right: 0;
}
.testimon .fa-chevron-left{
    left: 0;
}

/* testimonials*/
/*---------------------------------------------------------------------------*/

/* our team*/
.our-team{
    padding: 100px 0;
}
.our-team h2{
    color: #3B434C;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
}
.our-team h2 span{
    color: var(--maincolor);
}
.our-team h2~ p{
    line-height: 2;
    color: #7E8184;
    margin-bottom: 60px;
}

.our-team .the-team  .person{
    color:#9C9EA1 ;
}
.our-team .the-team  .person img{
    height: 292px;
    border-radius: 10px;
    filter: grey;
    filter: grayscale(1);
    transition: all .5s;
}
.our-team .the-team  .person:hover img{
    filter: none;
    filter: grayscale(0);
    
}

.our-team .the-team  .person h3{
    margin: 20px 0;
    transition: all .5s;
}
.our-team .the-team  .person:hover h3,
.our-team .the-team  .person:hover p{
    color: #3B434C;
}
.our-team .the-team  .person p{
    font-size: 14px;
    margin: 20px 0;
    transition: all .5s;
}
.our-team .the-team  .person .socials i{
    font-size: 18px;
    width: 30px;
    height: 30px;
    background-color: #9C9EA1;
    border-radius: 50%;
    color: #fff;
    line-height: 30px;
    transition: all .5s;
    margin:0 5px;
    cursor: pointer;
}

.our-team .the-team  .person:hover .socials .fa-facebook-f{
    background-color: #3b5998;
}
.our-team .the-team  .person:hover .socials .fa-twitter{
    background-color: #1da1f2   ;
}

.our-team .the-team  .person:hover .socials .fa-google-plus-g{
    background-color: #dd4b39;
}

/* our team*/
/*---------------------------------------------------------------------------*/
/* say hello */
.say-hello {
    background: url(../images/sayhello.jpg);
    background-size: cover;
}
.say-hello .overlay{
    padding: 100px 0;
}
.say-hello h2{
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
}
.say-hello h2 span{
    color: var(--maincolor);
}
.say-hello h2~ p{
    line-height: 2;
    color: #fff;
    margin-bottom: 60px;
}
.say-hello form{
    margin: auto;
    text-align: center;
    width: 830px;
    width: 70%;
}
.say-hello form input[type=text]{
    float: right;
}
.say-hello form input[type=email]{
    float: left;
}
.say-hello form input[type=text],
.say-hello form input[type=email]{
    padding:12px 20px;
    width: 48%;
    border-radius: 10px;
    border: none;
    outline: none;
}
.say-hello form textarea{
    border-radius: 10px;
    border: none;
    outline: none;
    padding:12px 20px;
    margin: auto;
    width: 100%;
    height: 200px;
    margin: 30px  auto;

}
.say-hello form button{
    color: #fff;
    border-color: #fff;
    transition: all .5s;
    padding: 12px 70px;
    border-radius: 10px;
    float: left;
}
.say-hello form button:hover{
    background-color: var(--maincolor);
    border-color: var(--maincolor);
}
.say-hello form .socials{
    float: right;
}
.say-hello form .socials i{
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    line-height: 40px;
    transition: all .5s;
    margin:0 5px;
    cursor: pointer;
}
.say-hello form .socials .fa-facebook-f{
    background-color: #3b5998;
}
.say-hello form .socials .fa-twitter{
    background-color: #1da1f2   ;
}
.say-hello form .socials .fa-google-plus-g{
    background-color: #dd4b39;
}
.say-hello form .socials .fa-youtube{
    background-color: #ff0000;
}
.say-hello form .socials .fa-behance{
    background-color: #1769ff;
}



/* say hello */
/*---------------------------------------------------------------------------*/
/*footer */
footer{
    background-color: #3B434C;
    color: #fff;
    padding: 30px 0;
    
}
.footers{
    display: flex;
    justify-content: space-between;
}
.footers p{
    margin: 0;
}

/* footer */
/*---------------------------------------------------------------------------*/
/* scroll to top */
.scrolltops{
    position: relative;
}
.scrolltops .scrolltop{
    position: fixed;
    bottom: 20px ;
    right: 50px;
    width: 45px;
    text-align: center;
    line-height: 50px;
    height: 45px;
    background-color: var(--maincolor);
    border-radius: 50%;
    transition: all .5s;
    display: none;
    cursor: pointer;
}
.scrolltops .scrolltop:hover{
    background-color: #000;
}
.scrolltops .scrolltop i{
    font-size: 26px;
    color: #fff;
}
/* scroll to top */
